@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(202, 201, 201); 
    border-radius: 10px;
  }
  .pretty-scrollbar::-webkit-scrollbar {
    width:10px;
    
  }